*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
schloerke_b_thesis.pdf
*.synctex.gz
*.toc
*-concordance.tex
schloerke_b_thesis.tex
figure/*
parts/*.c
NAMESPACE
_ignore
cache
_minted-schloerke_b_thesis
*.pyc
*.egg-info
parts/example
